@charset "UTF-8";
$color-black: #333333;       // 一级文案，绝大多数文案
$color-gray: #666666;        // 二级文案，辅助性的次级文案
$color-gray-medium: #999999; // 辅助文案，辅助性的文案
$color-gray-silver: #C0C0C0; // 弹框等地方未输入时候的提示文案
$color-gray-light: #DADADA;  // 不能点击的灰色按钮
$color-gray-white: #F6F6F6;  // 分割线颜色、分隔条颜色
$color-white-light: #FAFAFA; // 部分区分背景块颜色

$color-bg-top: #263144; 	 // 顶部背景颜色